<%
    let objOrdre = {
        _id : 'asc',
        nom : 'asc',        
        prenom : 'asc',
        telephone : 'asc',
        courriel : 'asc'
    }
    
    if (typeof cle !== 'undefined'  && cle)
        {
            objOrdre[cle] = ordre
        }
%>


<table class="tableau">
    <tr>
        <th><a href="/trier/_id/<%= objOrdre._id %>">_id<i class="fas fa-<%= (objOrdre._id=='asc'?'sort-up': 'sort-down') %>"></i></a></th>
        <th><a href="/trier/nom/<%= objOrdre.nom %>"><%= __('nom') %><i class="fas fa-<%= (objOrdre.nom=='asc'?'sort-up': 'sort-down') %>"></i></a></th>
        <th><a href="/trier/prenom/<%= objOrdre.prenom %>"><%= __('prénom') %><i class="fas fa-<%= (objOrdre.prenom=='asc'?'sort-up': 'sort-down') %>"></i></a></th>        
        <th><a href="/trier/telephone/<%= objOrdre.telephone %>"><%= __('téléphone') %><i class="fas fa-<%= (objOrdre.telephone=='asc'?'sort-up': 'sort-down') %>"></i></a></th>  
        <th><a href="/trier/courriel/<%= objOrdre.courriel %>"><%= __('courriel') %><i class="fas fa-<%= (objOrdre.courriel=='asc'?'sort-up': 'sort-down') %>"></i></a></th>      
    </tr>
    <%  for (elm of adresses) {%>
    <tr>
        <td><%= elm._id %></td>
        <td contenteditable='true'><%= elm.nom %></td>
        <td contenteditable='true'><%= elm.prenom %></td>
        <td contenteditable='true'><%= elm.telephone %></td>                
        <td contenteditable='true'><%= elm.courriel %></td>    
        <!-- <td><a class="detruire" href="/detruire/<%= elm._id %>"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></td> -->
        <td><a id="supp" class='detruire' href="#"><i class="far fa-trash-alt"></i></a></td>
        <td><a id="modif" class='modifier' href="#"><i class="far fa-save" aria-hidden="true"></i></a></td>
    </tr>
    <% } %>
</table>

<!-- <button id='testAJAX'>test AJAX</button> -->

<script type="text/javascript">

/////////////////////////////////////////////////// ajax_Modifier
(function(){
    
    let collectionElmModifier = document.getElementsByClassName('modifier')
    for (elmModifier of collectionElmModifier){

           //  let elmModifier = document.getElementById('modif')
            elmModifier.addEventListener('click', function(){

            console.log('ok')
            console.log();
            xhr = new XMLHttpRequest();
            xhr.open('POST', "ajax_modifier", true);


                let laLigneData = this.parentNode.parentNode
                let id = laLigneData.children[0].innerHTML
                let nom = laLigneData.children[1].innerHTML
                let prenom = laLigneData.children[2].innerHTML
                let telephone = laLigneData.children[3].innerHTML
                let courriel = laLigneData.children[4].innerHTML

                data = { 
                    "nom" : nom,
                    "prenom" : prenom,
                    "telephone" : telephone,
                    "courriel" : courriel,
                    "_id" : id 
                }



            console.log(data)
            sData = JSON.stringify(data);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(sData);
            xhr.addEventListener("readystatechange", traiterRequest, false);
        })
    }


////////////////////////////////////////////////////////////// Ajax_Ajouter

let elmAjouter = document.querySelectorAll('.ajouter')   
for (elm of elmAjouter) {
    elm.addEventListener('click', function() {

        let tableauPrincipal = document.querySelector('.tableau tbody');
        let laLigne = document.createElement("TR")
        xhr = new XMLHttpRequest();
        xhr.open('POST', "/ajax_ajouter", true);
        data = {
            "nom" : "",
            "prenom" : "",
            "telephone" : "",
            "courriel" : ""
        }
            
        sData = JSON.stringify(data);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.send(sData);
        console.log(sDAta)
        xhr.addEventListener("readystatechange", function() {
            let envoi = traiterRequest();
            if(envoi != 0) {
                let ligneVide = '<td >' + envoi + '</td>' + '<td contenteditable="true"></td>' + '<td contenteditable="true"></td>' + '<td contenteditable="true"></td>' + '<td contenteditable="true"></td>' + '<td><a class="supprimer" href="#"><i class="far fa-trash-alt"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></td>' + '<td><a class="sauver" href="#"><i class="fas fa-save"></i></a></td>'
                laLigne.innerHTML = ligneVide
                tableauPrincipal.appendChild(laLigne);
            }
        }, false);   
    })
}


//////////////////////////////////////////////////////////////// Ajax_Detruire

let elmDetruire = document.querySelectorAll('.detruire')

for (elm of elmDetruire) {

    elm.addEventListener('click', function() {

        let laLigne = this.parentNode.parentNode    
        let id = laLigne.children[0].innerHTML
        console.log('ok')
        xhr = new XMLHttpRequest();
        xhr.open('POST', "ajax_supprimer", true);
        
        data = {
            "_id" : id
        }
            
        sData = JSON.stringify(data);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.send(sData);
        var envoi = xhr.addEventListener("readystatechange", traiterRequest, false);
        //Spprime la ligne à détruire par l'utilisateur
        if(envoi != 0) {
            laLigne.parentNode.removeChild(laLigne);
        }   
    })
}

//////////////////////////////// Traiter Requete
    
    
function traiterRequest(e){
    
    console.log("xhr.readyState = " + xhr.readyState)
    console.log("xhr.status = " + xhr.status)
    if(xhr.readyState == 4 && xhr.status == 200){
        
        console.log('ajax fonctionne')
        let  maReponse = JSON.parse(xhr.responseText);
        console.log(xhr.responseText);
        console.log(maReponse._id)
    }
}
    
})()  
    // dans notre fichier .ejs
// Notre code JavaScript pour effectuer un transfert AJAX


</script>

<!-- <script type="text/javascript">
    let elmModifier = document.querySelectorAll('.modifier')
    console.log(elmModifier.length)
    for (elm of elmModifier)
        {
            elm.addEventListener('click', function(){
            console.log(this.parentElement.parentElement.id)
            let elmTr = this.parentElement.parentElement 
            let _id = elmTr.querySelector('td:nth-child(1)').innerHTML
            let nom = elmTr.querySelector('td:nth-child(2)').innerHTML
            let prenom = elmTr.querySelector('td:nth-child(3)').innerHTML
            let telephone = elmTr.querySelector('td:nth-child(4)').innerHTML
            let courriel = elmTr.querySelector('td:nth-child(5)').innerHTML

            elmForm = document.getElementById('frmUpdate')

            elmForm.nom.value = nom
            elmForm.prenom.value = prenom
            elmForm.telephone.value = telephone
            elmForm.courriel.value = courriel
            elmForm._id.value =  _id
            elmForm.submit()
            })
        }

</script> -->

    